*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}


body{

background:#fff;

}



header{

height:80px;

display:flex;

align-items:center;

justify-content:space-around;

box-shadow:0 2px 10px #ccc;

}



button{

background:#ff3f6c;

color:white;

border:none;

padding:10px 18px;

border-radius:5px;

cursor:pointer;

}



input{

padding:12px;

width:300px;

}




#hero{

width:90%;

height:350px;

object-fit:cover;

margin:30px;

border-radius:15px;

}



#products{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:25px;

padding:30px;

}



.card{

padding:15px;

box-shadow:0 5px 15px #ddd;

border-radius:10px;

}



.card img{

width:100%;

height:250px;

object-fit:cover;

}



.price{

color:#ff3f6c;

}



del{

color:#999;

font-size:14px;

}



.heart{

float:right;

cursor:pointer;

}



footer{

background:#111;

color:white;

padding:40px;

}



.dark{

background:#111;

color:white;

}



.dark .card{

background:#222;

}
.dark .card{

background:#222;

}


/* logo ke liye */

.logo{

width:100px;

height:auto;

object-fit:contain;

}
/* Footer Logo */

.footer-logo{

width:120px;

height:auto;

margin-bottom:20px;

object-fit:contain;

}